<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connection_String" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=EMP_MANAGEMENT" />
        <add name="QuanLyNhanSu.Properties.Settings.EMP_MANAGEMENTConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=EMP_MANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EMP_MANAGEMENTConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=EMP_MANAGEMENT" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>